{% extends "admin-jmg/base.html" %}

{% block contenido %}

  <div class="row justify-content-md-center"> 
  <div class="card"> 
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary">Inicio</button>
            <button type="button" class="btn btn-outline-primary">Abrir un nuevo ticket</button>
            <button type="button" class="btn btn-outline-primary">comprobar el estado del ticket</button>
          </div>
    </div>
</div>
</div>

<div class="card">
    <div class="card-header">
        <strong>Bienvenido al Centro de Soporte </strong>
    </div>
    <div class="card-body">
        <p class="card-text">Para agilizar las solicitudes de soporte y brindarle un mejor servicio, utilizamos un sistema de tickets de soporte. A cada solicitud de soporte se le asigna un número de ticket único que puede usar para rastrear el progreso y las respuestas en línea. Para su referencia, proporcionamos archivos completos e historial de todas sus solicitudes de soporte. Se requiere una dirección de correo electrónico válida para enviar un ticket.</p>
    </div>
</div>

{% endblock contenido %} 